@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(http://fonts.googleapis.com/css?family=Scada);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Oregano);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);


#navbar h1 {
	font-size: 65px;
	color: #ffffff;
	font-family: 'Mr Dafoe', cursive;
	margin-left: 5px;
	margin-top: 0;
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
}
#navbar ul {
	list-style-type: none;
	float: right;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}
#navbar li {
	display: inline-block;
	margin: 30px;
	margin-top: 20px;
}
#navbar a {
	color: white;
	text-decoration: none;
	color: #00D2B6;
}
#navbar a:hover {
	color: #19FFE0;
}
body {
	font-size: 19px;
	color: #D6513C;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	background-color: #333333;
	background: url("images/hairinabottle-gradient-cropped.jpg") no-repeat center center fixed;	 
	background-size: cover;
}
a {
	text-decoration: none;
	color: #D6513C;
}
a:hover {
	color: #FF8671;
}
#description {
	font-family: 'Oswald', sans-serif;
	margin: 0 auto;
	max-width: 400px;
	text-align: center;

}
#productlines {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	line-height: 31px;
	list-style-type:none;
}
#slogan {
	font-size: 26px;
	text-align: center;
	color: white;
	font-family: 'Raleway' sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 15px;
}
ul {
    list-style-type: none;
}