@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
	margin: 0px;
	padding: 0px;
	background-color: #FFC8AF;
}
nav ul {
	list-style-type: none;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Crimson Text', serif;
	font-size: 24px;
}
nav li {
	display: inline-block;
	padding-right: 65px;
	padding-left: 65px;
}
nav a {
	text-decoration: none;
	color: #57443B;
}
nav a:hover {
	color: #3E7D69;
}
nav h1 {
	font-family: 'Averia Sans Libre', sans-serif;
	font-size: 46px;
	margin-top: 15px;
	margin-bottom: 6px;
	color: #57443B;
}
#austin {
	text-align: center;
	font-family: 'Crimson Text', serif;
	padding-bottom: 15px;
	letter-spacing: 4px;
	font-size: 16px;
	color: #57443B;
}
#hero {
	width: 100%;
}
#hero img {
	width: 100%;
	height: 100%;
}
footer ul {
	list-style-type: none;
	text-align: center;
	font-family: 'Crimson Text', Georgia, Serif;
	font-size: 18px;
	color: #57443B;
}
footer li {
	display: inline-block;
	padding-right: 40px;
	padding-left: 40px;
}
