@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
	margin: 0%;
	padding: 0%;	
	background-color: #FFC8AF;
	font-size: 10px;
}
nav ul {
	list-style-type: none;
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0%;
	font-family: 'Crimson Text', serif;
}
nav li {
	display: inline-block;
	padding: 0% 2em;
	font-size: 2.5em
}
nav a {
	text-decoration: none;
	color: #57443B;
}
nav a:hover {
	color: #3E7D69;
}
nav h1 {
	font-family: 'Averia Sans Libre', sans-serif;
	font-size: 2em;
	margin-top: .25em;
	margin-bottom: .1em;
	color: #57443B;
}
footer ul {
	list-style-type: none;
	font-family: 'Crimson Text', Georgia, Serif;
	font-size: 2em;
	color: #57443B;
	text-align: center;
}
footer li {
	display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#mobilenav {
	display: none;
}
label {
	display: none;
}
#menu-toggle {
	display: none;
}
#menu-toggle:checked + #menu {
	display: block;
	width: 100%;
	text-align: center;
}

#austin {
	text-align: center;
	font-family: 'Crimson Text', serif;
	padding-bottom: 1.3em;
	letter-spacing: .5em;
	font-size: 1.6em;
	color: #57443B;
}
#hero {
	width: 100%;
}
#hero img {
	width: 100%;
}
#contact {
	display: inline-block;
	position: relative;
 	top: 50%;
  	transform: translateY(-50%);
  	padding-right: 2em;
}
#address {
	display: inline-block;
	padding-right: 2em;
}
#phone {
	display: inline-block;
}
#socialmedia {
	display: inline-block;
	padding-right: .3em;
}
#facebook {
	display: inline-block;
}
#instagram {
	display: inline-block;
}
@media only screen and (max-width: 480px) {
	}
	#mobilenav {
		display: block;
	}
	#mainnav {
		display: none;
	}
	#menu-toggle {
	display: block;
}
}

  