@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
	margin: 0%;
	padding: 0%;	
	background-color: #FFC8AF;
	font-size: 10px;
	position: relative;
	overflow: auto;
}
nav ul {
	list-style-type: none;
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0%;
	font-family: 'Crimson Text', serif;
	padding: 0;
}
nav li {
	display: inline-block;
	padding: 0% 1.5em;
	font-size: 2.5em
}
nav a {
	text-decoration: none;
	color: #57443B;
}
nav a:hover {
	color: #3E7D69;
}
nav h1 {
	font-family: 'Averia Sans Libre', sans-serif;
	font-size: 2em;
	margin-top: .25em;
	margin-bottom: .1em;
	color: #57443B;
}
footer ul {
	list-style-type: none;
	font-family: 'Crimson Text', Georgia, Serif;
	font-size: 2em;
	color: #57443B;
	text-align: center;
}
footer li {
	display: inline-block;
}
}
.clearfix:after {
  visibility:  idden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#mobilenav {
	display: none;
}
#mainnav {
	display: block;
}
#austin h3 {
	text-align: center;
	font-family: 'Crimson Text', serif;
	padding-bottom: 1.3em;
	letter-spacing: .5em;
	font-size: 1.6em;
	color: #57443B;
	margin: 0;
}
#hero img{
	width: 100%;
}
#heromobile {
	display: none;
}
#contact {
	display: inline-block;
	position: relative;
 	top: 50%;
  	transform: translateY(-50%);
  	padding-right: 2em;
}
#address {
	display: inline-block;
	padding-right: 2em;
}
#phone {
	display: inline-block;
}
#socialmedia {
	display: inline-block;
	padding-right: .3em;
}
#facebook {
	display: inline-block;
}
#instagram {
	display: inline-block;
}
#mobilecontent {
	display: none;
}

@media only screen and (max-width:480px){
	body {
		width: 100%;
		background: url("images/blackandwhiteyogafadedmobile.jpg") no-repeat center center fixed;
		background-size: cover;
		position:; relative;
	}
	nav {
		background-color: rgba(255,200,175,.5);
	}
	label {
		display: block;
		list-style-type: none;
		text-align: center;
		margin-top: 0%;
		margin-bottom: 0%;
		font-family: 'Crimson Text', serif;
		padding: 0;
		font-size: 2em;
		color: #57443B;
	}
	nav li {
		display: block;
		padding: 0% 2em;
		font-size: 2em
	}
	div h1 {
		font-family: 'Averia Sans Libre', sans-serif;
		font-size: 3em;
		margin-bottom: 0;
		margin-top: 1.5em;
		color: #57443B;
		text-align: center;
	}
	hr {
		width: 25%;
		height: 1px;
		margin: auto;
		color: #57443B;
		background-color: #57443B;
	}
	section a {
		text-decoration: none;
		color: #57443B;
	}
	section a:hover {
		color: #3E7D69;
	}
	footer {
		display: none;
	}
	.button {
		display: block;
		list-style-type: none;
		text-align: center;
		margin: 0 auto;
		font-family: 'Crimson Text', serif;
		padding: 0;
		font-size: 2.5em;
		color: #57443B;
		border-style: solid;
    	border-width: 1px;
    	width: 50%;
	}
	#findaclass {
		margin-top: 15%;
		padding: 2%;
	}
	#location {
		margin-top: 7%;
		padding: 2%;
	}
	#hero img{
		display: none;
	}
	#mobilecontent {
		display: block;
	}
	#mobilelogo {
		display: block;
	}
	#mobileaustin {
		text-align: center;
		font-family: 'Crimson Text', serif;
		padding-bottom: 1.3em;
		letter-spacing: .5em;
		font-size: 1.6em;
		color: #57443B;
	}
	#mobilenav {
		display: block;
		}
	#mainnav {
		display: none;
	}
	#menu-toggle {
		display: none;
	}
	#menu {
		display: none;
	}
	#menu-toggle:checked + #menu {
		display: block;
		width: 100%;
		text-align: center;
	}
}

  